*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-color: #565867;
  --green: #19c152;
  --primary-grey: #919191;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

@media screen and (min-width: 320px) {
  #root {
    width: 100%;
  }
}
